/* #text1,
#text2 {
    display: inline-block;
    border: 2px solid black;
    padding: 13px 250px 2px 13px;
    margin:0 10px ;
}

#text1 {
    background: bisque;
}

#text2 {
background: grey;
} */

*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

#d1{
    margin: 0;
    width: 100%;

}

#d1 span {
    background: bisque;
    border: 2px solid black;
    padding: 10px 5px 3px 8px;
    width: 50%;
    margin: 0;
    display: inline-block;
    box-sizing: border;
}